/*
	Final Project
	Author: Joseph Hart
	Date: December 9th, 2013
	
	File Name: project.css
*/

/*main elements*/
body { font-family: Verdana, Arial, sans-serif;
			background-color: #dddddd;
}
h1 { width: 910px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		font-family: "Times New Roman", serif; 
		border: 3px ridge #762f23;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		text-align: center;
		padding: 15px;
		margin-bottom: 5px;
		background-color: #f5f5a4;
}
h2 { text-align: center;
}
table { padding-bottom: 10px;
				width: 100%;
				margin: auto;
}
td, th { padding: 5px;}	
p:nth-of-type(5) { padding-left: 22px;}

/*id's*/
#indent { padding-left: 22px;}
#nav { float: left;
			 width: 170px;
			 text-align: center;
			 padding-top: 30px;
			 background-color: #f5f5a4;
			 -webkit-box-shadow: 5px 5px 5px #828282;
			 -moz-box-shadow: 5px 5px 5px #828282;
			 box-shadow: 5px 5px 5px #828282;
			 position: fixed;
			 background-attachment: scroll;
}
#nav a { text-decoration: none; 
		    padding: 5px 10px;
				margin-top: 5px;
				display: block;
}
#nav a:link { color: #6666ff; }
#nav a:visited { color: #707070; }
#nav a:hover { color: #000066; }
#nav ul { list-style-type: none; 
				 padding-left: 0px;
}
#wrapper { margin-left: auto;
					 margin-right: auto;
					 width: 85%;
					 min-width: 900px;
}
#content { padding-left: 10px;
					padding-right: 10px;
					margin-left: 180px;
					min-width: 730px;
					background-color: #f5f5a4;
					-webkit-box-shadow: 5px 5px 5px #828282;
					-moz-box-shadow: 5px 5px 5px #828282;
					box-shadow: 5px 5px 5px #828282;
					overflow: auto;
					padding: 10px 30px 20px 20px;
}
#content h2 { text-align: center; }
#content a:link { color: #6666ff; }
#content a:visited { color: #707070; }
#content a:hover { color: #000066; }
#content img, iframe { display: block;
											 margin-left: auto;
											 margin-right: auto;
											 border: none;
}
#content li { padding-left: 20px;
									list-style-type: none;
}
#special { text-align: center; }				 
#footer { color: #707070;
					font-size: 0.90em;
					font-style: italic;
					text-align: center;
					padding-top: 20px;
					padding-bottom: 20px;
					clear: right;
					clear: left;
}
#letterhead { text-align: center;
						padding-bottom: 20px;
}
#datetop { text-align: center;
					padding-bottom: 50px;
}
#address { padding-bottom: 20px;}
#re { text-align: center;
}
#title { padding-bottom: 10px;
				font-weight: bold;
				text-align: center;
}
#footerthank { font-weight: bold;
							padding-bottom: 10px;
							text-align: center; 
}
#footerfile { font-size: 0.8em;
						 font-weight: bold;
}
#wrapper { margin-left: auto;
					margin-right: auto;
					width: 80%;
					min-width: 700px;
}

/*classes*/
td.less { color: #ff0000;
}	
td.bold { font-weight: bold;
}
td.special { border-bottom: 1px #aaaaaa dashed;
}
td.balance{ text-decoration: underline;
}
